*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de etiquetas */
h1, h2, h3, p, a{
    color: antiquewhite;
    font-family: "Winky Sans";
}
label{
    color: black;
}

/* Layout de la pagina */
.layout{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 85px 1fr 70px;

    grid-template-areas: 
        "header header"
        "menu contenido"
        "footer footer";

    min-height: 100vh;
}
/* Header */
.header{
    grid-area: header;
    background-color: #16202c;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
}
header > h1 > a{
    font-family: "Indie Flower", sans-serif;
    font-size: 50px;
    line-height: 1;   /* achico la caja de la fuente */
    text-decoration: none;
}
header > input{
    padding: 5px;
    width: 50%;
}
.logo {
    cursor: pointer;
}
.usuario-registrado ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
.usuario-registrado a{
    text-decoration: none;
    cursor: pointer;
}
/* Menu de navegacion */
.menu{
    grid-area: menu;
    background-color: #16202c;

    padding: 20px;

    display: flex;
    justify-content: center;    /* centra el menu horizontalmente */
}
.menu-flex{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-flex li{
    border-radius: 5px;
}
.menu-flex a{
    text-decoration: none;
    color: black;
    font-size: 20px;

    background-color: rgb(149, 134, 201);

    border: 2px solid black;
    border-radius: 5px;

    padding: 5px;

    display: block;
    width: 100%;    /* ocupa todo el ancho disponible del <li> */
    text-align: center;
}
/* Contenido principal */
.main-content{
    grid-area: contenido;
    background-color: #0D2B35;
    padding: 25px;

    border-top: 2px dotted rgba(255, 255, 255, 0.4);
    border-left: 2px dotted rgba(255, 255, 255, 0.4);
}
#lista-carrito, #lista-favoritos {
    list-style: none;
    padding: 0;
}
#lista-carrito li, #lista-favoritos li {
    background-color: #f4f4f4;
    margin: 5px 0; /* Superior-Inferior Izquierda-Derecha*/
    padding: 8px;
    border: 1px solid #ccc;
    font-family: "Winky Sans";
}
/* ----- Boton Vaciar Carrito y Vaciar Favoritos ---- */
#vaciar-carrito, #vaciar-favoritos {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(255, 145, 145);
    font-size: 15px;
    font-family: "Winky Sans";
    cursor: pointer;
}
#vaciar-carrito:hover, #vaciar-favoritos:hover {
    background-color: rgb(255, 0, 13);
}
#comprar-carrito {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: rgb(73, 116, 17);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(114, 212, 131);
    font-size: 15px;
    font-family: "Winky Sans";
    cursor: pointer;
}
#comprar-carrito:hover {
    background-color: rgb(44, 153, 62);
}
/* Footer */
.footer{
    grid-area: footer;
    background-color: #111111;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-top: 2px dotted rgba(255, 255, 255, 0.4);
}