*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de etiquetas */
h1, h2, h3, p, a{
    color: antiquewhite;
    font-family: "Winky Sans";
}
label{
    color: black;
}

/* Layout de la pagina */
.layout{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 85px 1fr 70px;

    grid-template-areas: 
        "header header"
        "menu contenido"
        "footer footer";

    min-height: 100vh;
}
/* Header */
.header{
    grid-area: header;
    background-color: #16202c;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
}
header > h1{
    font-family: "Indie Flower", sans-serif;
    font-size: 50px;
    line-height: 1;   /* achico la caja de la fuente */
}
header > input{
    padding: 5px;
    width: 50%;
}
.usuario-registrado ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
.usuario-registrado a{
    text-decoration: none;
    cursor: pointer;
}
/* Menu de navegacion */
.menu{
    grid-area: menu;
    background-color: #16202c;

    padding: 35px;

    display: flex;
    justify-content: center;    /* centra el menu horizontalmente */
}
.menu-flex{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-flex li{
    border-radius: 5px;
}
.menu-flex a{
    text-decoration: none;
    color: black;
    font-size: 20px;

    background-color: rgb(149, 134, 201);

    border: 2px solid black;
    border-radius: 5px;

    padding: 5px;
}
/* Contenido principal */
.main-content{
    grid-area: contenido;
    background-color: #0D2B35;
    padding: 25px;

    border-top: 2px dotted rgba(255, 255, 255, 0.4);
    border-left: 2px dotted rgba(255, 255, 255, 0.4);
}
/* Footer */
.footer{
    grid-area: footer;
    background-color: #111111;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-top: 2px dotted rgba(255, 255, 255, 0.4);
}

/* Proximamente Carrusel de Inicio */
.trends{
    border: 2px solid black;
    border-radius: 15px;

    height: 400px;

    background-image: url('lecturas img/la-noche-es-mas-peligrosa-dentro-del-castillo.jpg');
    background-position: center;

    padding: 25px;
    margin-bottom: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.trends h2{
    font-size: 50px;
}

/* Nuevos lanzamientos, Comics Populares, E-Books Populares */
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 20px;

    padding-top: 20px;
    margin-bottom: 25px;
}
.obra-container{
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
}

/* Formulario Contacto */
.contacto-form form{
    display: flex;
    flex-direction: column;
    gap: 15px;

    border: 2px solid black;
    border-radius: 15px;

    background-color: aliceblue;

    margin-top: 20px;
    padding: 20px;
}
.contacto-form input{
    border: 1px solid gray
}
.contacto-form input:hover, contacto-form textarea:hover{
    background-color:lightgrey;
}
.contacto-form button{
    border: 2px solid darkslategrey;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
}

.button-form:hover{
    background-color: darkgray;
}